html, body {
  margin: 0;
  padding: 0;
}

:root {
  --nav-height: 60px;
}

nav {
  margin:0;
  position:relative;
  height:fit-content;
  width:100%;
  background: #303040;
}

.nav-container {
  position:absolute;
  left:0;
  right:0;
  display:inline-flex;
  margin:auto;
  padding:0;
  width:fit-content;
}

.nav-el {
  display:inline-flex;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  padding:0 1em;
  font-size: 1.05em;
  line-height: var(--nav-height);
  font-family:'Barlow', sans-serif;
}

.nav-title {
  margin:0;
  margin-left: 1em;
  padding:0;
  color:white;
  width:fit-content;
  font-size: 1.25em;
  text-emphasis: none;
  font-family:'Barlow', sans-serif;
  line-height:var(--nav-height);
  display:inline-flex;
  text-transform: uppercase;
}

.nav-el:hover {
  background:white;
  color:#303040;
}
