html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

:root {
  --nav-height: 60px;
  --nav-color:#303040;
  --nav-text-color:white;

  --default-text-color:white;
  --default-text-font:'Barlow', sans-serif;
  --default-accent-color:var(--nav-color);
}

body * {
  color:var(--default-text-color);
  font-family:var(--default-text-font);
}

nav {
  margin:0;
  position:relative;
  width:100%;
  background: var(--nav-color);
  height:calc(var(--nav-height) - 2px);
  border-bottom:2px solid var(--default-accent-color);
}

.nav-container {
  position:absolute;
  left:0;
  right:0;
  display:inline-flex;
  margin:auto;
  padding:0;
  width:fit-content;
}

.nav-el {
  display:inline-flex;
  color:var(--nav-text-color);
  text-decoration: none;
  text-transform: uppercase;
  padding:0 1em;
  font-size: 1.05em;
  line-height:calc(var(--nav-height) - 2px);
  border-bottom:2px solid var(--default-accent-color);
  font-family:'Barlow', sans-serif;
}

.nav-title {
  margin:0;
  margin-left: 1em;
  padding: 0;
  color: var(--nav-text-color);
  width: fit-content;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  line-height: var(--nav-height);
  display: inline-flex;
  text-transform: uppercase;
}

.nav-el:hover {
  background: var(--nav-text-color);
  color: var(--nav-color);
}

.heading {
  padding:0;
  margin:0;
  width:100vw;
  height: calc(100vh - var(--nav-height));
  background: var(--nav-color);
  position:relative;
}

.heading * {
  margin:auto;
  padding:0;
}

.container {
  padding:2em;
  width:calc(100vw - 4em);
}

.container * {
  background:inherit;
  margin:auto;
  padding:0.5em;
}

.segment {
  max-width:1000px;
}

.segment p {
  font-size:1.1em;
}

.segment * {
  padding:15px;
}

.flex *, .flex {
  display:flex;
}

.vert *, .vert {
  display:block;
}


@media only screen and (max-width: 720px) {
  .nav-container {
    padding:0;
    width:100%;
  }

  .nav-el {
    display:block;
    width:100vw;
    height:var(--nav-height);
    padding:1em 0;
    font-size: 1.05em;
    border:none;
  }
}
