/* CSS Navbar */

nav {
  margin:0;
  position:fixed;
  top:0;
  width:100%;
  backdrop-filter:blur(6px);
  background: var(--nav-color-transparent);
  height:var(--nav-height);
  z-index: 2;
}

.filler {
  width:100%;
  height:var(--nav-height);
  display:block;
}

.nav-container {
  position:absolute;
  left:0;
  right:0;
  display:inline-flex;
  margin:auto;
  padding:0;
  width:fit-content;
}

.nav-el {
  display:inline-flex;
  color:var(--nav-text-color);
  text-decoration: none;
  text-transform: uppercase;
  padding:0 1em;
  font-size: 1.05em;
  line-height:var(--nav-height);
  font-family:'Barlow', sans-serif;
}

.nav-title {
  margin:0;
  margin-left: 1em;
  padding: 0;
  color: var(--nav-text-color);
  width: fit-content;
  font-size: 1.25em;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  line-height: var(--nav-height);
  display: inline-flex;
  text-transform: uppercase;
}

.nav-el:hover {
  background: var(--nav-text-color-transparent);
  backdrop-filter:blur(6px);
  color: var(--nav-color);
  height:var(--nav-height);
}
