:root {
  --neptune-blue:#394C56;
  --sandy-brown:#877158;
  --moonlight-silver:#808080;
}

.heading img {
  --width:40vw;
  --min-width:400px;

  width:var(--width);
  height:calc(calc(var(--width) / 800) * 107);

  min-width:var(--min-width);
  min-height:calc(calc(var(--min-width) / 800) * 107);

  position:absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.heading {
  background:var(--neptune-blue);
}

.neptune-bar {
  background:var(--neptune-blue);
  height:calc(var(--nav-height) - 2px);
  border-bottom:2px solid var(--moonlight-silver);
}

.neptune-bar * {
  background:none;
  color:var(--sandy-brown);
}

.neptune-bar * *:hover {
  text-decoration: underline;
  background:#394C56;
  height:calc(var(--nav-height) - 2px);
  color:var(--sandy-brown);
}
