:root {
  --neptune-blue:#394C56;
  --sandy-brown:#877158;
  --moonlight-silver:#A9A9A9;

  --moonlight-silver-transparent:#A9A9A9AA;

  --nav-color:var(--moonlight-silver);
  --nav-color-transparent:var(--moonlight-silver-transparent);

  --nav-text-color:var(--neptune-blue);

  --default-text-color:var(--moonlight-silver);
  --default-accent-color:var(--sandy-brown);
}

.neptune-bar * *:hover {
  text-decoration: underline;
}

.nav-el:hover {
  background-color: var(--nav-color);
  text-decoration: none;
  color: var(--nav-text-color);
}

.heading {
  background:var(--neptune-blue);
}

/* Heading Container */
.heading .heading-center {
  width:fit-content;
  height:fit-content;
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.heading img {
  width:50vw;
  min-width:400px;
  margin:auto;
  display:block;
}

.heading h2 {
  text-align: center;
  width:100%;
  margin:0;
  padding:20px 0px;
}

.segment h2 {
  font-family:'Poiret One', sans-serif;
  letter-spacing: 0.2em;
  font-size:2em;
}

.open-src {
  background:#696969;
}

.open-src * {
  color:#f6f8fa;
}

.extensible, .extensible * {
  background:var(--moonlight-silver);
  color:var(--neptune-blue);
}
